{% extends 'base.html.twig' %}

{% block body %}

    <p>Le premier symbole date de plusieurs semaines. À Melitopol comme à Berdiansk, il y a une double circulation 
    de monnaie ukrainienne comme russe. L’installation des banques et surtout des distributeurs automatiques est plus lente mais <br>
    partout on a commencé le paiement des retraites et parfois des salaires en roubles. Dans d’autres aspects de la vie courante aussi <br>
    la Russie avance, comme les médias. À Marioupol, les habitants font toujours la queue aux citernes pour l'eau mais des camions diffusent <br>
     dans les rues la première chaîne d'État russe. La radio était déjà sur les ondes avant la fin du siège. Le réseau téléphonique 
    n’est plus ukrainien mais russe, y compris dans l’oblast le plus à l’ouest, celui de Kherson, presque entièrement conquis.</p>

{% endblock %}